// green theme sample
$brand-primary: #006622;
$brand-info: #ea2;
$link-color: #000000;
$nav-pills-active-link-hover-bg: #d51;
$btn-primary-bg: #d51;
$btn-primary-border: #da0;
$btn-info-bg: #fa4;
$btn-info-border: #da0;
$fg-nav-tabs-active: #fb1;
$sidebar-nav: #001a09;
